* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url('imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

.celular {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    height: 627px;
    width: 315px;
    background: url('imagens/frame-iphone.png') no-repeat;
}

.tel {
    position: relative;
    top: 80px;
    left: 21px;
    width: 269px;
    height: 470px;
}

.redes-sociais img {
    width: 40px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400 );
    box-sizing: border-box;
}

.redes-sociais {
    text-align: right;
}

.redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.637);
    translate: -3px -3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.400);
    transition: transform 0.2;
}